.banner-conent .hero img {
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin: 3rem auto 1.5rem;
}
.banner-conent .description {
    max-width: 16.2rem!important; 
    backdrop-filter: blur(60px);
}

.banner-conent .hero .action a{
    background-color: dimgrey!important;
    border-bottom: dimgrey!important;
}


@media screen and (min-width:960px) and (max-width:3200px) {
  .banner-conent  .hero img  { max-height: 165px!important; }
}


@media screen and ( max-width: 960px ) {
  .banner-conent .hero img  { max-height: 155px!important; }
}


@media screen and ( max-width: 768px ) {
 .banner-conent .hero img  { max-height: 145px!important; }
}


@media screen and ( max-width: 550px ) {
 .banner-conent .hero img  { max-height: 130px!important; }
}


@media screen and ( max-width: 320px ) {
  .banner-conent .hero img  { max-height: 195px!important; }
}